<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="../vendor/autoload.php">
	<php>
		<env name="PACKAGER_UNLINK" value="1"/>
	</php>
	<testsuites>
		<testsuite name="all">
			<!--todo: bootstrap/autoloader-->
			<directory suffix="Test.php" phpVersion="5.6" phpVersionOperator=">=">tests</directory>
		</testsuite>
	</testsuites>
</phpunit>
